* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #FFDAB9;
    overflow-x: hidden;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    position: relative;
    flex-wrap: wrap;
}

.szoveg-container {
    max-width: 50%;
}

.szoveg-container h1 {
    font-size: 3.5rem;
    color: #ff5733;
    margin-bottom: 20px;
}

.szoveg-container p {
    font-size: 1.7rem;
    margin-bottom: 30px;
    color: black;
}

.buttons {
    display: flex;
    gap: 15px;
}

.recipes-button, .registration-button, .login-button {
    padding: 15px 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.1s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    margin: 5px;
}

.recipes-button {
    background-color: #FF5A3D;
    color: #FFFFFF;
}

.registration-button, .login-button {
    background-color: #FFFFFF;
    color: #FF5A3D;
}

.recipes-button:hover, .registration-button:hover, .login-button:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.recipes-button:active, .registration-button:active, .login-button:active {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transform: translateY(4px);
}

.kep-container {
    max-width: 40%;
}

.kep-container img {
    width: 100%;
    height: auto;
    border-radius: 400px;
    box-shadow: 20px 20px 30px #5e5e5e;
}

footer {
    background-color: #333;
    color: #FFDAB9;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin: 5px 15px;
}

footer ul li a {
    color: #FFDAB9;
    text-decoration: none;
}

#mindenjog {
    margin-bottom: 20px;
}

footer ul li a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .hero-section {
        padding: 20px;
        flex-direction: column;
    }

    .szoveg-container {
        max-width: 100%;
        text-align: center;
    }

    .buttons {
        justify-content: center;
        width: 100%;
    }

    .kep-container {
        max-width: 100%;
        margin-top: 20px;
    }

    .recipes-button, .registration-button, .login-button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .szoveg-container h1 {
        font-size: 2.5rem;
    }

    .szoveg-container p {
        font-size: 1.4rem;
    }

    .recipes-button, .registration-button, .login-button {
        padding: 12px 12px;
        font-size: 14px;
    }
}
