.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EA5021;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 5px 0px 20px #333;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    color: #FFDAB9;
}

.nav-links li a {
    color: #FFDAB9;
    text-decoration: none;
    font-weight: bold;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #FFDAB9;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    
    .navbar {
        position: relative;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #EA5021;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        padding: 1rem;
        z-index: 999;
        border-radius: 0 0 10px 10px;
    }

    .navbar.open .nav-links {
        display: flex;
    }
}