* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #FF5733;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.container {
    flex: 1;
    align-items: center;
}

h2 {
    color: #FF5733;
    margin-bottom: 10px;
    font-size: 30px;
}

.recept-container {
    padding: 50px;
}

.hozzavalok, .elkeszites {
    justify-content: center;
    background-color: #FFDAB9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.hozzavalo-inputs input,
#elkeszites-text {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ddd;
}

#elkeszites-text {
    resize: vertical; /* Csak függőlegesen lehessen húzni */
}

.hozzavalo-inputs button, .elkeszites button {
    padding: 12px 20px;
    background-color: #FF5A3D;
    color: #FFDAB9;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.1s ease;
    width: 100%; 
}

.hozzavalo-inputs button:hover, .elkeszites button:hover {
    background-color: #FF5733;
}

.hozzavalo-inputs button:active, .elkeszites button:active {
    transform: translateY(4px);
    background-color: #FF5A3D;
}


ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .recept-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .hozzavalok, .elkeszites {
        width: 100%;
        max-width: none; /* Mobilon ne legyenek limitálva a szélességük */
    }
}

@media (max-width: 480px) {
    .hozzavalo-inputs input,
    #elkeszites-text {
        font-size: 14px;
    }

    .hozzavalo-inputs button, .elkeszites button {
        font-size: 14px;
    }
}
