* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #FFDAB9;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 90%;
    max-width: 900px;
}

.registration-panel, .right-panel {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color: #EA5021;
    color: #FFDAB9;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.koszones {
    font-size: 30px;
    padding-bottom: 10px;
}

.regisztralj-be-felirat {
    margin-bottom: 10px;
}

.regisztracio-felirat {
    font-size: 35px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.logo {
    width: 170px;
    height: auto;
    margin-bottom: 20px;
}

.kovess-minket {
    margin-top: 50px;
    font-weight: bold;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icons a img {
    width: 70px;
    height: 70px;
    transition: transform 0.3s;
}

.icons a img:hover {
    transform: scale(1.1);
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #434343;
    border-radius: 5px;
    font-size: 16px;
}

.password-container {
    position: relative;
}

.jelszo-lathatosag {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.registration-button {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #EA5021;
    background-color: #FFDAB9;
    border: 2px solid #EA5021;
}

.registration-button:hover {
    background-color: #EA5021;
    color: #FFDAB9;
}

.login-button {
    margin-top: 10px;
    color: #FFDAB9;
    background-color: #EA5021;
    border: 2px solid #FFDAB9;

}
.login-button-link {
    background-color: #FFDAB9;
    border: 2px solid #EA5021;
}

.login-button:hover {
    background-color: #FFDAB9;
    color: #EA5021;
}

.login-button:active {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transform: translateY(4px);
}

@media (max-width: 768px) {
    .wrapper {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .container {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }
}

@media (max-width: 480px) {

    .koszones, .regisztracio-felirat {
        font-size: 24px;
    }

    .logo {
        width: 120px;
    }

    .icons a img {
        width: 50px;
        height: 50px;
    }

    input[type="text"], input[type="password"] {
        font-size: 14px;
    }

    button {
        font-size: 16px;
    }
}
